#Port
PORT = 1000 [replace with your port]

#DB Uri [replace with your db uri and credentials]
DATABASE_URL = mongodb+srv://<username>:<password>@cluster0.ygecibd.mongodb.net/sportsFacilityPlatformDB?retryWrites=true&w=majority&appName=Cluster0

#Environment
NODE_ENV = development

#Salt Rounds
BCRYPT_SALT_ROUNDS = 1 [replace with your required salt rounds]

#JWT Secret
JWT_ACCESS_SECRET = example [replace with your credentials]

#Access token Expiration time period
JWT_ACCESS_EXPIRES_IN = 1h [replace with your expiration time period]

#Refresh token Expiration time period
JWT_REFRESH_EXPIRES_IN = 1d [replace with your expiration time period]

#Store id for aaamarPay
STORE_ID= [replace with your Store id]

#Signature key for aaamarPay
SIGNATURE_KEY= [replace with your Signature key]

#Payment url for aaamarPay
PAYMENT_URL= https://sandbox.aamarpay.com/jsonpost.php

#Payment verification url for aaamarPay
PAYMENT_VERIFICATION_URL= https://sandbox.aamarpay.com

#Base url for booking related server request
BASE_URL = https://sports-facility-platform.vercel.app/api